Options -Indexes -ExecCGI
# جلوگیری از اجرای PHP در پوشه آپلود
<IfModule mod_php.c>
  php_flag engine off
</IfModule>
<IfModule mod_php7.c>
  php_flag engine off
</IfModule>
<IfModule mod_php8.c>
  php_flag engine off
</IfModule>
<IfModule lsapi_module>
  php_flag engine off
</IfModule>
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8 .phar .cgi .pl
RemoveType .php .phtml .phar
<FilesMatch "(?i)\.(php|phtml|phar|cgi|pl|fcgi|fpl|asp|aspx|jsp|sh)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Deny from all
  </IfModule>
</FilesMatch>
