# ویجت باید در iframe سایت‌های دیگر باز شود
<IfModule mod_headers.c>
  Header always unset X-Frame-Options
  Header unset X-Frame-Options
  Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data: https:; frame-ancestors *"
</IfModule>
